.section{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

}
.tablePair{
  color: red;
  border: solid 2px  red;
  display: flex;
  flex-direction: column;
}
.Student{
  width: 80px;
  height: 30px;
  margin:  0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pair{
  height: 30px;
  height: 30px;
  margin:  0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableStudent{
  display: flex;
  flex-direction: row;
}
.Container{
  width: 70vw;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
}
.Slim{
  border-right: solid 2px #D5D1D2;
  background-color: #ece7e7;
  width: 7.6%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: ;
  justify-content: space-between;

}
.Fat{
  justify-content: space-around;
  background-color: #f0f0f0;
  width: 92.4%;
  display: flex;
  flex-direction: column;;
  flex-grow: 12;
}

.Names{
  border-right: solid 2px #D5D1D2;
  background-color: #ece7e7;
  width: 8.33%;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BoxSlim{
  border-bottom: solid 2px #D5D1D2;
  display: flex;
  background-color: ##ece7e7;
  flex-direction: row;
  justify-content: space-around;
  height: 7.6%;
  width: 100%;
}
.BoxFat{
  align-items: flex-start;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  flex-wrap: wrap;
  width: 100%;
  height: 92.4%;
}
.BoxNames{
  align-items: flex-start;
  background-color: #ece7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  flex-wrap: wrap;
  width: 100%;
  height: 92.4%;
}
.Pareamento{
  border-right: solid 2px #D5D1D2;
  border-bottom: solid 2px #D5D1D2;
  height: 7.97%;
  width: 8.12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Par{
  border-bottom: solid 2px #D5D1D2;
  background-color: #ece7e7;
  height: 7.97%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Select{
  text-decoration: none;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  font-family:
  font-size: 1.4em;
  margin: 25px;
}
.Select:hover{
  box-shadow: 2px 3px 2px grey;
}
.Button{
  background-color: #1EBC61;
  border-color: #1EBC61;
  border-radius: 6px;
  width: 77px;
  height: 35px;
}
.Button:hover{
  box-shadow: 2px 3px 2px grey;
}
